Babel==2.6.0
backlash==0.1.4
Beaker==1.10.0
coverage==4.5.2
crank==0.8.1
decorator==4.3.2
FormEncode==2.0.0a1
gearbox==0.1.1
Kajiki==0.7.2
MarkupSafe==1.1.0
Ming==0.8.0
nine==1.0.0
nose==1.3.7
PasteDeploy==2.0.1
Pygments==2.3.1
pymongo==3.6.1
pytz==2018.9
repoze.lru==0.7
repoze.who==2.3
six==1.12.0
speaklater==1.3
sprox==0.11.1
Tempita==0.5.2
tg.devtools==2.3.12
tgext.admin==0.7.4
tgext.crud==0.9.0
tgext.debugbar==0.4.0
TurboGears2==2.3.12
tw2.core==2.2.5
tw2.forms==2.2.5
WebHelpers2==2.0
WebOb==1.7.4
WebTest==1.4.3
zope.interface==4.6.0
